<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
    <li data-name="home" class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;" lay-tips="主页" lay-direction="2">
            <i class="layui-icon layui-icon-home"></i>
            <cite>主页</cite>
        </a>
        <dl class="layui-nav-child">
            <dd data-name="type">
                <a lay-href="product/type.html">商品类型</a>
            </dd>
            <dd data-name="info">
                <a lay-href="product/info.html">商品管理</a>
            </dd>
            <dd data-name="plan">
                <a lay-href="product/plan.html">房间方案</a>
            </dd>
            <dd data-name="plan">
                <a lay-href="product/task.html">组合计划</a>
            </dd>
        </dl>
    </li>
    <li data-name="web" class="layui-nav-item">
        <a href="javascript:;" lay-tips="幻灯" lay-direction="2">
            <i class="layui-icon layui-icon-chart-screen"></i>
            <cite>幻灯</cite>
        </a>
        <dl class="layui-nav-child">
            <dd data-name="sliderType">
                <a lay-href="web/sliderType.html">幻灯分类</a>
            </dd>
            <dd data-name="slider">
                <a lay-href="web/slider.html">幻灯管理</a>
            </dd>
        </dl>
    </li>
    <li data-name="table" class="layui-nav-item">
        <a href="javascript:;" lay-tips="表模型">
            <i class="layui-icon layui-icon-template-1"></i>
            <cite>表模型</cite>
        </a>
        <dl class="layui-nav-child">
            <dd data-name="create">
                <a lay-href="table/create.html">Table生成器</a>
            </dd>
            <dd data-name="build">
                <a lay-href="table/build.html">Table构建器</a>
            </dd>
        </dl>
    </li>
    <li data-name="admin" class="layui-nav-item">
        <a href="javascript:;" lay-tips="系统设置">
            <i class="layui-icon layui-icon-set"></i>
            <cite>系统设置</cite>
        </a>
        <dl class="layui-nav-child">
            <dd data-name="userGroup">
                <a lay-href="admin/userGroup.html">管理组</a>
            </dd>
            <dd data-name="users">
                <a lay-href="admin/users.html">管理员</a>
            </dd>
            <dd data-name="menu">
                <a lay-href="admin/menu.html">系统菜单</a>
            </dd>
            <dd data-name="loginLog">
                <a lay-href="admin/allLog.html">登录日志</a>
            </dd>
        </dl>
    </li>
</ul>